<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="pfcm">
    <link rel="icon" href="../../favicon.ico">

    <title>HELLO FLASK!</title>

    <!-- mdl css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.grey-blue.min.css"/>
    <!-- mdl js -->
    <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>
    <!-- jquery -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    Hello
                </h2>
            </div>
            <div class="mdl-card__supporting-text">
                This is a text!
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Do a thing
                </a>
            </div>
        </div>


      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Hello!
      </button>
    </div>

    <footer class="footer">
      <p>&copy; no one</p>
    </footer>


    <!-- bootstrap.js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#dob-prompt").on("hide.bs.modal", function(e) {
          $(".jumbotron#init").hide();
          $(".jumbotron#content").show();
          var birth_date = $(".modal-body input[type=date]").val();
          var horo_date = new Date();
          horo_date.setDate(horo_date.getDate() - 7);
          horo_date = horo_date.toJSON().slice(0,10);
          var sign = "cancer";
          console.log(horo_date);
          $.ajax({
            url: "http://widgets.fabulously40.com/horoscope.json?sign=" + sign + "&date=" + horo_date,
            crossDomain : true
          })
            .done(function(data) {
              $(".jumbotron#content p.lead").text(data['horoscope']['horoscope']);
            })
            .fail(function(xhr, status, error) {
              $(".jumbotron#content p.lead").html("<h3>Error: " + status + "</h3><p>" + error + "</p>");
            });
        })
      });
    </script>
  </body>

</html>
